[user]
	name = Ray Toh
	email = raythx98@gmail.com
[pager]
	diff = diff-so-fancy | less
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/raytoh/.gitignore_global
	autocrlf=input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
